
<div class="inputs">
  <form method="post">{% csrf_token %}
    <input type="hidden" name="cohort_id" value="{{ cohort.id }}">
  
  {% for field in form %}
    <div class="input-score">
      {% if field.field.widget.input_type != 'text' %}
        {{ field.label }}
      {% endif %}
      
      {% if forloop.first and 0 %}
        
      {% endif %}
      
      {{ field }}
      
      {% if forloop.first %}
        <input type="submit" name="next" value="&#x2192;">
      {% endif %}
    </div>
  {% endfor %}
  </form>
</div>
