{% extends "reviewpanel/base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/submission.css" %}">
  <style>
    div#content {
      position: relative;
      top: 80px;
      width: 100%;
    {% if template.max_width %}max-width: {{ template.max_width }}px;{% endif %}
      margin: 0 auto;
    }
    
  {% for section, refs, selectors in sections %}
    div#section_{{ section.name }} {
    {% if section.font %}font: {{ section.font }};{% endif %}
      padding-top: {{ section.y }}%;
      left: {{ section.x }}%;
      width: {{ section.w }}%;
    }
    
    div#section_{{ section.name }} div.wrapper {
    {% if section.h %}
      aspect-ratio: {{ section.w }}/{{ section.h }};
    {% endif %}
    {% if section.scroll or not section.wrap %}
      {% if section.scroll %}
        overflow-{% if section.wrap %}y{% else %}x{% endif %}: scroll;
      {% endif %}
      {% if not section.wrap %}white-space: nowrap;{% endif %}
    {% endif %}
    }
    div#section_{{ section.name }} div.wrapper div.content {
      {% if section.h %}bottom: 0;{% endif %}
    }
    {% if not section.wrap and not section.scroll %}
    div#section_{{ section.name }} div.wrapper div.content div {
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
    {% endif %}
  {% endfor %}
  </style>
{% endblock %}

{% block extrajs %}
  <script src="{% static "js/submission.js" %}"></script>
{% endblock %}

{% block content %}
<div id="content">
  {% for section, references, selectors in sections %}
    <div id="section_{{ section.name }}" class="section"
         style="{{ section.inline_style }}">
      <div class="wrapper">
        <div class="content">
          {% if section.name == inputs_section %}
            {% include "./submission_inputs.html" %}
          {% else %}
            {% include "./submission_section.html" %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
